.bat {
    width: 300px;
    transition: transform 0.2s ease-in;
}

.field:hover .bat {
    transform: rotate(-80deg);
    transform-origin: top right;
}

.ball {
    position: relative;
    left: 510px;
    top: -20px;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out 0.2s;
}

.field:hover .ball {
    transform: translate(500px, -200px);
}

@media screen and (max-width: 576px) {

    .bat {
        width: 100px;
    }

    .ball {
        left: 150px;
        top: -40px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .field:hover .ball {
        transform: translate(150px, -40px);
    }
}