body {
    font-family: 'Josefin Sans', sans-serif;
}

/* navbar */
#navbar-section {
    position: sticky;
    top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 5px 0;
    font-weight: 700;
}

.services a {
    text-decoration: none;
    margin-right: 30px;
    color: rgba(5, 5, 65, 0.936);
}

.services a:hover {
    color: red;
}

.to-book {
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 4px;
    color: whitesmoke;
    background-image: linear-gradient(to right, rgb(3, 3, 38), rgb(66, 66, 158));
}

.to-book:hover {
    background-image: linear-gradient(to right, red, orange);

}


/* banner */
.banner-img {
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%), url(images/food/Project\ Cover2.png);
}

.banner-text {
    color: whitesmoke;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.restaurant {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 120px;
    margin: 0;
}

.banner-text>p {
    font-size: 18px;
    margin: 0;
}


.owner {
    position: absolute;
    text-decoration: underline;
    color: rgb(3, 3, 46);
    font-weight: 700;
    bottom: 0;
    background-color: rgb(117, 143, 166);
    border-radius: 3px;
    right: 10px;
    font-family: 'Qwitcher Grypen', cursive;
}

.quote {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Qwitcher Grypen', cursive;
}

/* Services */
.recipies {
    margin-bottom: 100px;
}

.recp {
    margin-left: 10px;
    color: rgb(3, 3, 59);
}

.recipies-section {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    margin: 0 20px 40px 10px;
}

.services-section {
    width: 100%;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.services-img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.heart-img {
    width: 10px;
}

.ratings {
    display: flex;
    justify-content: space-between;
}

.ratings span {
    font-family: 'Qwitcher Grypen', cursive;
}

.see-more {
    text-decoration: none;
    font-size: 15px;
    margin-left: 45%;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 30px;
    color: whitesmoke;
    background-color: red;
}

.see-more:hover {
    background-color: rgb(148, 62, 62);
}

/* ------Animation for food service card------- */

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    100% {
        --a: 0deg;
    }

    0% {
        --a: 360deg;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

.services-section:hover {
    width: 100%;
    text-align: justify;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
    background: repeating-conic-gradient(from var(--a), var(--clr1) 0%, var(--clr1) 5%, transparent 5%, transparent 40%, var(--clr1) 50%);
    animation: animate 2s linear infinite;
}

.services-section:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), var(--clr2) 0%, var(--clr2) 5%, transparent 5%, transparent 40%, var(--clr2) 50%);
    animation: animate 2s linear infinite;
    animation-delay: -0.2s;
    transition: 0.2s;
    opacity: 1;
}

.services-section:hover::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: whitesmoke;
}

.services-section p,
img,
div,
h1 {
    position: relative;
    z-index: 1;
    transition: 0.2s;
}

.services-section:hover h1 {
    letter-spacing: 0.1em;
    transition-delay: 0.1s;
}

/* Experiences Gellery */

.comment-section {
    margin-bottom: 100px;
}

.placeholder {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.experiences-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.image-and-comment {
    border-radius: 5px;
    width: 95%;
    height: 80px;
    display: flex;
    text-align: justify;
    padding: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.experiences-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px 10px 0 0;
    padding: 1px;
    border: 2px solid rgb(68, 68, 195);
}

.user-name {
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 100px;
}

footer span {
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: 700;
    font-size: 20px;
}

/* Events */

.event-section {
    margin-bottom: 150px;
}

.find-events {
    position: relative;
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%), url(images/Events/e9.jpg);
}

.events-text {
    color: whitesmoke;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.events-text h1 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 80px;
    letter-spacing: 0.35em;
    font-weight: 700;
    margin: 0;
}

.select-events {
    font-size: 20px;
}

.select-events select {
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    color: #00008B;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

option:nth-child(2n) {
    color: red;
}

.events-card {
    width: 96%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    border-radius: 5px;
}

.events-image {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.events {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.events-card-text h1,
h2 {
    color: #12126a;
}

.events-card-text span {
    color: orangered;

}

.upcoming {
    display: flex;
    justify-content: space-between;
}

/* Animation for events card */

.events-card:hover {
    position: relative;
    position: relative;
    background: repeating-conic-gradient(from var(--a), var(--clr1) 0%, var(--clr1) 5%, transparent 5%, transparent 40%, var(--clr1) 50%);
    animation: animate 2s linear infinite;
}

.events-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), var(--clr2) 0%, var(--clr2) 5%, transparent 5%, transparent 40%, var(--clr2) 50%);
    animation: animate 2s linear infinite;
    animation-delay: -0.2s;
}

.events-card:hover::after {
    content: '';
    position: absolute;
    inset: 3px;
    /* background: whitesmoke; */
}

/* Children's Park */

.childrens-park {
    position: relative;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%), url(images/children/ch6.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 5px;
}

.chldrens-text {
    position: absolute;
    top: 20%;
    left: 20%;
    color: whitesmoke;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 40px;
    letter-spacing: 0.3em;
    transform: translate(-10%, -40%);
    width: 80%;
    padding: 20px;
    z-index: 2;
}

.swimming {
    position: absolute;
    top: -55px;
    right: 20%;
    transform: translate(-10%, 0);
}

#water {
    position: relative;
    top: -160px;
}

#ring {
    position: relative;
    z-index: 2;
    top: -75px;
}

#boy {
    position: relative;
    z-index: 3;
}